body {
    background-color: rgb(84, 142, 218);
}

.container {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 3em;
}

.in {
    margin-bottom: 30px; 
    margin: 0;
    padding: 8px;
    float: right;
    text-align: center;
}

.out {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: white;
}

.myBtn {
    padding: 10px 10px;
    font-size: 20px;

}

.password {
    color: white;
    float: left;
}